

$breakpoints: (
  $null: 320px,
  $mobile: 360px,
  $tablet: 768px,
  $desktop: 1200px,
);

$h1-font-sizes: (
  $null: $fs-h1-null,
  $mobile: $fs-h1-mobile,
  $tablet: $fs-h1-tablet,
  $desktop: $fs-h1-desktop,
);

$h2-font-sizes: (
  $null: $fs-h2-null,
  $mobile: $fs-h2-mobile,
  $tablet: $fs-h2-tablet,
  $desktop: $fs-h2-desktop,
);

$h3-font-sizes: (
  $null: 1.5rem,
  $mobile: 1.75rem,
  $tablet: 1.75rem,
  $desktop: 2rem,
);

$h4-font-sizes: (
  $null: 1.2rem,
  $mobile: 1.3rem,
  $tablet: 1.4rem,
  $desktop: 1.75rem,
);

$h5-font-sizes: (
  $null: 1rem,
  $mobile: 1.15rem,
  $tablet: 1.2rem,
  $desktop: 1.3rem,
);

$p-font-sizes: (
  $null: $fs-p-null,
  $mobile: $fs-p-mobile,
  $tablet: $fs-p-tablet,
  $desktop: $fs-p-desktop,
);

/* Terminar de Revisar com base no link - https://gist.github.com/halofx/635ac22fd88a45e06480 e https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/*/
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == $null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $screen-sizes, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media only screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

@mixin make-font-size($fs-font-size) {
  @if type-of($value: $fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($list: $fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
} 






