

/* Mixin Display Flex */
@mixin flexCenter($direction, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin projeto {
  .main {
    &__projeto {
      @include flexCenter(column, flex-start);

      min-width: 25rem;
      max-width: 34rem;
      min-height: 9,19rem;
      max-height: 12.5rem;
    }
  
    &__hSkills {
      @include flexCenter(row, flex-start);
    }
  
    &__links {
      @include flexCenter(row, flex-start);
    }
  }
}


/* Mixin Articles 
@mixin projeto {
  .main {
    &__projeto {
      @include flexCenter(column, flex-start);

      min-width: 25rem;
      max-width: 34rem;
      min-heigth: 9,19rem;
      max-heigth: 12.5rem;
    }
  
    &__hSkills {
      @include flexCenter(row, flex-start);
    }
  
    &__links {
      @include flexCenter(row, flex-start);
    }
  }
}

@mixin fonts($font-size, $screen-size: $breakpoint) {
    @each $breakpoint, $font-size in $fs-map {
      @if $screen-size == null {
        @include make-font-size($font-size);
      }
      @else {
        @if map-has-key($screen-sizes, $screen-size) {
          $screen-size: map-get($screen-size, $screen-size);
        }
        @media screen and (min-width: $screen-size) {
          @include make-font-size($font-size);
        }
      }
    }
}
  

@mixin make-font-size($font-size) {

  @if type-of($font-size) == "list" {
    font-size: nth($font-size, 1);
    @if (length($font-size) > 1) {
      line-height: nth($font-size, 2);
    }
  }
  
  @else {
    font-size: $font-size;
  }
} */