

/* Mixin Display Flex */
@mixin flexCenter($direction, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexAlign($direction, $justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

/* Mixin para Grid */
@mixin projeto {

  @media (min-width: 476px) {
    max-width: $max-width-desktop;
    display: grid;
    grid-template-columns: 48.57% 48.57%;
    grid-auto-rows: minmax(10rem, auto);
    column-gap: $gg-columns;
    row-gap: $gg-rows;
  }
  @media (max-width: 475px) {
    grid-template-columns: 100%;
  }
}
