/* Cores */
$cor-branco: white;
$cor-preto: #151515;
$cor-grafite: #464646; //#242424; #2f2f2f;
$cor-ouro: #d4af37;
$bg-gold: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
/* $bg-gold é uma graduação de cor para background das linhas douradas */

/* Width */
$max-width-mobile: 43.9375rem;
$max-width-tablet: 70rem;
$max-width-desktop: 70rem;

/* Height */
$max-height-header-mobile: 24rem;
$max-height-header-tablet: 37.5rem;
$max-height-header-desktop: 50rem;
$foto-height-mobile: 24rem;
$foto-height-tablet: 37.5rem;
$foto-height-desktop: 50rem;

/* Margem - Padding - Gap */
/* Gap */
$gg-columns: 2.86%;
$gg-rows: 4rem;

/* Padding  */
$pr-desktop: 2rem;
$pr-tablet: 1.5rem;
$pr-mobile: 1rem;

/* Margin */
$m-desktop-b: 7rem;
$m-desktop-s: 3.75rem;
$m-tablet-b: 5rem;
$m-tablet-s: 2.5rem;
$m-mobile-b: 3.6rem;
$m-mobile-s: 2rem;
$mb-desktop: 1.5rem;
$mb-tablet: 1.25rem;
$mb-mobile: 1rem;


/* Famílias de Fontes */
$ff-titulos: "Noto Serif", serif;
$ff-subtitulos: "Nunito Sans", sans-serif;
$ff-paragrafo: "Noto Sans", sans-serif;

/* Font Weight */
$fw-h1: 700; 
$fw-h2: 500; 
$fw-h3: 400;
$fw-h4: 400; 
$fw-h5: 300; 
$fw-paragrafo: 300; 

/* Icon Size */
$fs-icon-desk: 1.5rem;
$fs-icon-tablet: 1.5rem;
$fs-icon-mob: 1.25rem;

/* Font Size - variáveis utilizadas no arquivo font-size */
/* H1 */
$fs-h1-null: clamp(2rem, -2rem + 20vw, 2.5rem);
$fs-h1-mobile: clamp(2.5rem, 0.731rem + 7.8624vw, 4.5rem);
$fs-h1-tablet: clamp(4.5rem, -2.0455rem + 13.6364vw, 7.5rem);
$fs-h1-desktop: 7.5rem;

/* H2 */
$fs-h2-null: clamp(1.25rem, -0.75rem + 10vw, 1.5rem); /* 20px a 24px*/
$fs-h2-mobile: clamp(1.5rem, 0.8382rem + 2.9412vw, 2.25rem); /* 24px a 36px*/
$fs-h2-tablet: clamp(2.25rem, 1.5833rem + 1.3889vw, 2.625rem); /* 36px a 42px*/
$fs-h2-desktop: 2.625rem; /* 42px*/

/* H3 */
$fs-h3-null: clamp(1.125rem, -0.875rem + 10vw, 1.375rem); /* 18px a 22px*/
$fs-h3-mobile: clamp(1.375rem, 1.0441rem + 1.4706vw, 1.75rem); /* 22px a 28px*/
$fs-h3-tablet: clamp(1.75rem, 1.0833rem + 1.3889vw, 2.125rem); /* 28px a 34px*/
$fs-h3-desktop: 2.125rem; /* 34px*/

/* Parágrafos */
$fs-p-null: 1rem; /* 16px */
$fs-p-mobile: 1.15rem; /* 18.4px */
$fs-p-tablet: 1.25rem; /* 20px */
$fs-p-desktop: 1.5rem; /* 24px */

/* Breakpoints */
$null: 320px;
$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;



