@import 'scss/__resets';
@import 'scss/__variables';
@import 'scss/__font-size';
@import 'scss/__mixins';

body {
    font-family: $ff-paragrafo;
    font-weight: $fw-paragrafo;
    background-color: $cor-preto;
    color: $cor-branco;
}

h1, h2 {
    font-family: $ff-titulos;
}

h3, h4, h5, h6 {
    font-family: $ff-subtitulos;
}

h1 {
    @include font-size($h1-font-sizes);

    margin: 1.6rem 0;
    font-weight: $fw-h1;
}

h2 {
    @include font-size($h2-font-sizes);

    margin-bottom: $m-desktop-s;
    font-weight: $fw-h2;
}

h3 {
    @include font-size($h3-font-sizes);

    font-weight: $fw-h3;
}

h4 {
    @include font-size($h4-font-sizes);

    font-weight: $fw-h4;
}

p {
    @include font-size($p-font-sizes);

    margin-bottom: $m-desktop-s;
    font-weight: $fw-paragrafo;
}

.link {
    color: $cor-branco;
    text-decoration: underline $cor-ouro solid 1.5px;
    text-underline-offset: 0.5rem;
    transition: all 0.3ms ease-in-out;
    padding-right: $pr-desktop;
}

.link:hover {
    text-decoration: underline $cor-branco solid 1.5px;
    cursor: pointer; 
}

.link:active {
    text-decoration: underline $cor-branco solid 1.5px;
    cursor: pointer;
}

/* Desktop - Header */
.header {
    max-width: $max-width-desktop;
    height: $max-height-header-desktop;
    position: relative;
    margin: 0 auto $m-desktop-b auto;

    &__social {
        position: absolute;
        top: calc($m-desktop-s / 2);
        right: 0;
        @include flexCenter(row, space-between);
        z-index: 2;
    }

    &__icon {
        color: $cor-branco;
        font-style: $fs-icon-desk;
        padding-right: 1.5rem;
        font-size: 2rcap;
    }

    &__icon:hover, &__icon:active {
        color: $cor-preto;
    }
    
    &__presentation {
        width: 100%;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    &__line-gold, &__line-gold--short {
        height: 4px;
        background-image: $bg-gold;
    }

    &__figure {
        z-index: 0;
    }
    &__photo {
        height: $foto-height-desktop;
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

/* Desktop - Main */
.main {
    //position: relative;
    max-width: $max-width-desktop;
    margin: 0 auto $m-desktop-b auto;

    /* Lista de tecnologias na apresentação - article1 */
    &__hard-skills {
        @include flexCenter(row, center);
        column-gap: calc($gg-columns * 2.5);

        margin-bottom: $m-desktop-b;
    }

    /* article2 */
    &__container-grid {

        @include projeto;
    }

    &__picture {
        margin-bottom: calc($m-desktop-b / 4);
    }

    /* Lista de tecnologias utilizadas em cada projeto - article2 */
    &__hSkills {
        @include flexCenter(row, flex-start);
        
        column-gap: calc($gg-columns * 2.5);
        margin-top: calc($mb-desktop / 2);
        margin-bottom: $mb-desktop;
    }

    &__links {
        @include flexCenter(row, flex-start);

        column-gap: calc($gg-columns * 2.5);
        text-transform: uppercase;
        transition: all 0.3ms ease-in-out;
    }


}

/* Desktop - Footer */
.footer {
    position: relative;
    background-color: $cor-grafite;
    margin: 0;

    /*
    &__bg-img {
        position: absolute;
        height: 100%;
        bottom: 0;
        z-index: 0;
        opacity: 0.75;
    } */
    

    &__container-flex {
        max-width: $max-width-desktop;
        margin: 0 auto;
        padding: $m-desktop-b 0; 

        @include flexCenter(column, space-between);
    }

    &__container-contato {
        @include flexCenter(row, space-between);
        gap: calc($gg-columns * 2);
    }
        
    &__apresentacao {
        width: 60%;
        @include flexAlign(column, flex-start, flex-start);
    }

    p {
        font-size: 1.25rem;
    }

    p, h2, form, h4, a {
        z-index: 1;
    }

    &__formulario {
        @include flexAlign(column, flex-start, stretch);
    }

    &__label {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    &__email, &__textarea {
        width: 100%;
        margin: 0 0 0.5rem 0;
        color: $cor-branco;
        background-color: $cor-grafite;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $cor-ouro;
    }

    &__button {
        width: fit-content;
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem;
        color: $cor-branco;
        font-weight: 500;
        text-transform: uppercase;
        background-image: $bg-gold;
        transition: all 0.3ms ease-in-out;

        /* Sombreado do botão */
        -webkit-box-shadow: 6px 6px 16px 8px rgba(0,0,0,0.5);
        -moz-box-shadow: 6px 6px 16px 8px rgba(0,0,0,0.5);
        box-shadow: 6px 6px 16px 8px rgba(0,0,0,0.5);
    }

    &__line-gold {
        width: 100%;
        height: 4px;
        margin-top: calc($m-desktop-b / 2);
        margin-bottom: calc($m-desktop-b / 4);
        background-image: $bg-gold;
    }

    &__container-midia {
        @include flexCenter(row, space-between);
        width: 100%;
    }

    &__social {
        @include flexCenter(row, space-between);
    }

    &__icon {
        color: $cor-branco;
        font-style: $fs-icon-desk;
        padding-left: 1.5rem;
        font-size: 2rcap;
    }

    &__icon:hover, &__icon:active {
        color: $cor-ouro;
    }

}


/* Media query - mobiles */
@media (min-width: $null) and (max-width: calc(#{$tablet} - 1px)) {
    
    h2 {   
        margin-bottom: $m-mobile-s;
    }

    p {
        margin-bottom: $m-mobile-s;
    }

    /* Mobile - Header */
    .header {
        max-width: $max-width-mobile;
        height: $max-height-header-mobile;
        margin: 0 $m-mobile-s $m-mobile-b $m-mobile-s;

        &__social {
            top: calc($m-mobile-s / 2);
        }

        &__photo {
            height: $foto-height-mobile;
        }
    }

    /* Mobile - Main */
    .main {
        max-width: $max-width-mobile;
        margin: 0 $m-mobile-s $m-mobile-b $m-mobile-s;
    
        /* Mobile - Lista de tecnologias na apresentação - article1 */
        &__hard-skills {
            @include flexCenter(row, center);

            flex-wrap: wrap;
            margin-bottom: $m-mobile-b;
        }

        /* article2 */
        &__picture {
            margin-bottom: calc($m-mobile-b / 4);
        }

        /* Lista de tecnologias utilizadas em cada projeto - article2 */
        &__hSkills {
            margin-top: calc($mb-mobile / 2);
            margin-bottom: $mb-mobile;
        }

        &__links {
            margin-bottom: calc($mb-mobile * 3);
        }

    }

    /* Mobile - Footer */
    .footer {
        max-width: 100vw;
        position: relative;
        background-color: $cor-grafite;
        margin: 0;
         
        &__container-flex {
            @include flexCenter(column, space-between);

            max-width: $max-width-mobile;
            margin: 0 auto;
            padding: $m-mobile-b $m-mobile-s; 
        }
    
        &__container-contato {
            @include flexCenter(column, space-between);

            gap: $gg-columns;
        }

        &__formulario {
            width: 100%;
        }

        &__email, &__textarea {
            border-bottom: 1px solid $cor-ouro;
        }
    
        
        &__apresentacao {
            width: 100%;
            @include flexAlign(column, flex-start, flex-start);
        }
    
        p {
            font-size: 1rem;
        }

        &__label {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    
        &__line-gold {
            width: 100%;
            height: 4px;
            margin-top: calc($m-mobile-b / 2);
            margin-bottom: calc($m-mobile-b);
            background-image: $bg-gold;
        }
    
        &__container-midia {
            @include flexCenter(column, center);
            width: 100%;
        }
    
        &__social {
            margin-top: calc($m-mobile-b / 4);
            @include flexCenter(row, center);
        }
    
        &__icon {
            color: $cor-branco;
            font-style: $fs-icon-desk;
            padding-right: 1.5rem;
            font-size: 2rcap;
        }
    
        &__icon:hover, &__icon:active {
            color: $cor-ouro;
        }
    }

}


/* Media query - tablets */
@media (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {

    h2 {   
        margin-bottom: $m-tablet-s;
    }

    p {
        margin-bottom: $m-tablet-s;
    }

    /* Tablet - Header */
    .header {
        max-width: $max-width-tablet;
        height: $max-height-header-tablet;
        margin: 0 $m-tablet-s $m-tablet-b $m-tablet-s;

        &__social {
            top: calc($m-tablet-s / 2);
        }

        &__photo {
            height: $foto-height-tablet;
        }
    }

    /* Tablet - Main */
    .main {
        max-width: $max-width-tablet;
        margin: 0 $m-tablet-s $m-tablet-b $m-tablet-s;
    
        /* Mobile - Lista de tecnologias na apresentação - article1 */
        &__hard-skills {
            @include flexCenter(row, center);

            flex-wrap: wrap;
            margin-bottom: $m-tablet-b;
        }

        /* article2 */
        &__picture {
            margin-bottom: calc($m-tablet-b / 4);
        }

        /* Lista de tecnologias utilizadas em cada projeto - article2 */
        &__hSkills {      
            margin-top: calc($mb-tablet / 2);
            margin-bottom: $mb-tablet;
        }

        &__links {
            margin-bottom: calc($mb-tablet * 3);
        }
    }

    /* Tablet - Footer */
    .footer {
        width: 100vw;
        position: relative;
        background-color: $cor-grafite;
        margin: 0;

        &__container-flex {
            @include flexCenter(column, space-between);

            max-width: $max-width-tablet;
            margin: 0 auto;
            padding: $m-tablet-b $m-tablet-s; 
        }
    }
}



