@import 'scss/__resets';
@import 'scss/__variables';
@import 'scss/__font-size';
@import 'scss/__mixins';

body {
    font-family: $ff-paragrafo;
    font-weight: $fw-paragrafo;
    background-color: $cor-preto;
    color: $cor-branco;
}

h1 {
    font-family: $ff-titulos;
}

h2, h3, h4, h5, h6 {
    font-family: $ff-subtitulos;
}

h1 {
    @include font-size($h1-font-sizes);

    margin: 1.6rem 0;
    font-weight: $fw-h1;
}

h2 {
    @include font-size($h2-font-sizes);

    font-weight: $fw-h2;
}

h3 {
    @include font-size($h3-font-sizes);

    font-weight: $fw-h3;
}

h4 {
    @include font-size($h4-font-sizes);

    font-weight: $fw-h4;
}

h5 {
    @include font-size($h5-font-sizes);

    font-weight: $fw-h5;
}

p {
    @include font-size($p-font-sizes);

    font-weight: $fw-paragrafo;
}

/* Desktop - Header */
.header {
    max-width: $max-width-desktop;
    height: $max-height-header-desktop;
    position: relative;
    margin: 0 auto $m-desktop-b auto;

    &__social {
        position: absolute;
        top: calc($m-desktop-s / 2);
        right: 0;
        @include flexCenter(row, space-between);
        z-index: 2;
    }

    &__icon {
        color: $cor-branco;
        font-style: $fs-icon-desk;
        padding-right: 1.5rem;
        font-size: 2rcap;
    }
    
    &__presentation {
        width: 100%;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    &__line-gold, &__line-gold--short {
        height: 4px;
        background-image: $bg-gold;
    }

    &__figure {
        z-index: 0;
    }
    &__photo {
        height: $foto-height-desktop;
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

/* Revisar main */
.main {
    max-width: $max-width-desktop;
    margin: 0 auto $m-desktop-b auto;

    &__hard-skills {

        @include flexCenter(row, space-between);
    }
}


/* Media query - mobiles */
@media (min-width: $null) and (max-width: calc(#{$tablet} - 1px)) {
    .header {
        max-width: $max-width-mobile;
        height: $max-height-header-mobile;
        margin: 0 $m-mobile-s $m-mobile-b $m-mobile-s;

        &__social {
            top: calc($m-mobile-s / 2);
        }

        &__photo {
            height: $foto-height-mobile;
        }
    }

    .main {
        max-width: $max-width-mobile;
        margin: 0 $m-mobile-s $m-mobile-b $m-mobile-s;
    
        &__hard-skills {
            @include flexCenter(column, center);

            flex-wrap: wrap;
        }
    }
}

/* Media query - tablets */
@media (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
    .header {
        max-width: $max-width-tablet;
        height: $max-height-header-tablet;
        margin: 0 $m-tablet-s $m-tablet-b $m-tablet-s;

        &__social {
            top: calc($m-tablet-s / 2);
        }

        &__photo {
            height: $foto-height-tablet;
        }
    }

    .main {
        max-width: $max-width-tablet;
        margin: 0 $m-tablet-s $m-tablet-b $m-tablet-s;
    
        &__hard-skills {
            @include flexCenter(row, space-between);

            flex-wrap: wrap;
        }
    }
}



